<html>
  <head>
    <title>Enrol Student</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <select name="student">
        {% for s in students %}
            <option value="{{s.id}}">{{s.name}}</option>
        {% endfor %}
      </select>

      <select name="course">
        {% for c in courses %}
            <option value="{{c.id}}">{{c.name}}</option>
        {% endfor %}
      </select>
      <button type="submit">Enrol</button>
    </form>
  </body>
</html>
